@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  box-sizing: border-box;
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.register {
  max-width: 978px;
  width: 100vw;
  display: flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: white;
}

.register span {
  color: #adb5bd;
}

#form {
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form > input,
.btn {
  border: 1px solid #e9ecef;
  padding: 0.9em 1em;
}

#form > input:focus {
  outline: none;
}

#form > .btn {
  background-color: #003049;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.register .col-1 {
  margin: auto;
  padding: 3em 0;
}

@media screen and (min-width: 860px) {
  .register .col-2 img {
    display: initial;
  }
}

.scrollbar-c-s-o::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-ie-e-ff {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

//Animation for text
  textOverImage {
    background-size: cover !important;
  }

.textOverImage {
  position: relative;
  width: 230px;
  height: 150px;
  float: left;
  margin: 20px 20px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0 0 4px #000;
}

.textOverImage:hover {
  background-size: 110%;
}

.textOverImage:before {
  position: absolute;
  top: 0;
  bottom: -40px;
  left: 0;
  right: 0;
  transform: translateY(
    90%
  ); /*use transform:translateY(100%); to remove footer*/
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  content: attr(data-title);
  transition: 0.1s 0.1s;
  padding-top: 14px;
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}

.textOverImage:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  content: attr(data-text);
  transition: 0.5s;
  padding-top: 5em;
  margin-top: 8px;
  transform: translateY(100%);
  opacity: 0;
}

.textOverImage:hover:after {
  transform: translateY(0);
  transition: 0.5s 0.1s;
  opacity: 1;
}
.textOverImage:hover:before {
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}
